/****************grid 일부분**************/

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
}

.d-flex {
display: -ms-flexbox !important;
display: flex !important;
}


body{
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  font-style: normal;
}
.ml-1{
    margin-left: 10px;
}
.mr-1{
    margin-right: 10px;
}

:root {
    --primary:#000;
    --secondary: #6c757d;
    --gray-70:#cdcdcd;
    --bg-light: #ededed;
    --bg-dark : #222;
    --text-light: #f8f9fa;
    --text-dark:#212529;
    --danger: #dc3545;
}


/********************HEADER************************/
.bgcolor{
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #eee;
}
.bgcolor button{
    color: #eee !important;
    border: none !important;
}
.bgcolor button:active, .navbar-toggler:focus{
    border: none !important;
    outline: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.bgcolor a, .bgcolor a:link{
    color: #eee;
}
.bgcolor a:active, .bgcolor a:hover{
    color: #fff;
}
.dropdown-menu a{
    color: #333 !important;
}

/*** REGISTER ***/
.container{
    width: 1000px;
}
/**********************DETAIL***********************/
.d-all>div{
    border-bottom: 1px solid var(--gray-70);
    padding:0;
}
.d-all div div{
    padding: 15px;
}
.d-all>div:last-child{
     padding: 20px 20px 80px 20px;
}
.d-title{
    font-size: 25px;
    font-weight: 600;
    background-color: var(--bg-light);
    border-top: 3px solid var(--text-dark) ;
    border-bottom: 2px solid var(--gray-70);
}
.d-name,
.d-date{
    width: 30%;
    background-color: var(--bg-light);
}
.d-count{
    width: 15%;
    background-color: var(--bg-light);
}
.btn-box{
    text-align: end;
}
.btn-box button{
    margin:10px 5px;
    padding:10px 20px;
}
.edit-btn{
    background: var(--secondary);
    border:none;
    color: #fff;
}
.delete-btn{
    background-color: var(--danger);
    border: none;
    color: #fff;
}
.list-btn{
    border: 1px solid var(--secondary);
}
